<!-- app.component.html -->

<header>
  <h1>Universidade</h1>
</header>

<main id="conteudo">
  <app-noticias></app-noticias>
  <app-destaque></app-destaque>
  <app-servicos></app-servicos>
  <app-resultados></app-resultados>
</main>

<footer>
  <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores ea quo doloribus voluptates! Excepturi
      aperiam alias quisquam, quia, necessitatibus eum eos odit, qui consectetur fugit eaque illo voluptas
      provident soluta.
  </p>
  <button id="botao" onclick="window.location.href='../../portifolio.html'">Portifólio</button>
</footer>
