#amarelo{
    color: #f4ce15;
}

#vermelho{
    color: #fe0000;     
}

#azul{
    color:#00a8ff;
}

#marron{
    color: #ead6bb;
}

#viola{
    color: #610c9f;                  
}

.img{
    width: 150px;
    height: 150px;
}